body {
  font-family: 'Tw Cen MT Std', sans-serif;                   
  background-image: linear-gradient(white, #00acd8);
}

.nav-title {
  font-weight: 700;
  font-size: 24px;
}

.button-text {
  font-size: 14px;
  font-weight: 700;
}

.image-caption {
  font-size: 14px;
  font-weight: 500;
}

.main-title {
  font-size: 48px;
  font-weight: 700;
}

.main-title2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: -5%;
}

.main-title3 {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: -3%;
  align-items: center;
  text-align: center;
}

.subheader-text {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: -5%;
}

.subheader-text2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: -5%;
  margin-left: 9%;
}

.body-text {
  font-size: 18px;
  margin-top: 5%;
  justify-content: center;
  text-align: justify;
}

.body-text2 {
  font-size: 18px;
  margin-top: 14%;
  justify-content: center;
  text-align: justify;
}

.body-text3 {
  font-size: 18px;
  margin-top: 8%;
  margin-bottom: -5%;
  justify-content: center;
  text-align: justify;
  margin-left: 11.5%;
  max-width: 76%;
}

.project-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.project-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}